@import "blueprint/reset";

@import "partials/base";

@import "blueprint";

@import "compass/css3";
@import "compass/typography/lists";
@import "compass/typography/links/unstyled-link";

$background-color: #E4E4E4;
$action-color: #F1584E;
$text-color: #1B1B1B;

$header-height: 30px;
$header-background-color: $text-color;

// Page layout can be done using mixins applied to your semantic classes and IDs:
body {  
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  overflow: auto;
  position: relative;
  min-height: 100%; 
  background: $background-color;
  @include background(image-url("/images/bg_fightsopa.gif"));
  
  #container {
    // @include showgrid;
    @include container;
    @include background(image-url("/images/bg_fightsopa.gif"));
  }
  
  #footer {
    @include column($blueprint-grid-columns);
  }
  
  #header {
    position: fixed;
    z-index: 999;
    @include background(image-url("/images/bg_fightsopa.gif"));
    width: $blueprint-container-size;
    height: $header-height;
    border-bottom: 2px solid lighten($text-color, 50%); 

    ul#share {
      @include horizontal-list;
      @include float-left;
      margin-top: 3px;
      li {
        width: 100px;
        .twitter-share-button, .fb-like {
          margin-top: 2px;
        }
      }
    }
    
    ul#nav {
      @include horizontal-list;
      @include float-right;
      li {
        line-height: $header-height;
        a {
          font-family: 'PT Sans Narrow', sans-serif;
          @include unstyled-link;
          color: lighten($text-color, 40%);
          margin-left: 30px;
          cursor: pointer;
          @include single-transition(all, 0.3s);
          &:hover {
            color: $text-color;
          }
        }
      }
    }
  }
  
  #footer {    
    border-top: 2px solid $text-color;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-top: 10px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: justify;
    font-size: 18px;
    color: lighten($text-color, 20%);
  }
 
  #content {
    margin-top: $header-height + 5px;
    @include column($blueprint-grid-columns);
    
    h4 {
      @include column($blueprint-grid-columns);
      font-family: 'PT Sans Narrow', sans-serif;
      text-align: justify;
      text-transform: uppercase;
      font-size: 22px;
      margin-bottom: 10px;
    }

    h3 {
      @include column($blueprint-grid-columns);
      font-family: 'Passion One', cursive;
      text-align: justify;
      text-transform: uppercase;
      font-size: 30px;
      margin-bottom: 10px;
    }
    
    h3, h4 {
      a {
        @include unstyled-link;
        color: darken($action-color, 10%);
        cursor: pointer;
      }
    }
    
    h2 {
      @include column($blueprint-grid-columns);
      font-family: 'PT Sans Narrow', sans-serif;
      margin-top: 5px;
      border-top: 4px solid #600;
      border-bottom: 4px solid #600;
      text-align: justify;
      text-transform: uppercase;
      font-size: 40px;
      line-height: 50px;
      strong {
        font-size: 50px;
        line-height: 50px;
        color: $action-color;
      }
    }
    
    #thebrain, #thepc {
      @include column(5);
    }
    
    #thedonation {
      @include column(5);
    }

    #thefight {
      @include column(5, true);
    }
    
    .plus {
      @include column(1);
    }

    .equal {
      @include column(2);
    }
    
    $symbols-size: 100px;
    
    .plus, .equal {
      font-family: Arial;
      text-align: center;
      font-size: 60px;
      font-weight: bold;
      line-height: $symbols-size;
      color: lighten($text-color, 20%);
    }
    
    .actionbox {
      height: $symbols-size;
      @include single-transition(all, 0.3s);
      &:hover {
        @include scale(1.5);
      }
    }
    
    .actionbox svg {
      width: $symbols-size;
      height: $symbols-size;
      position: relative;
      left: floor((span(5) - $symbols-size) / 2);
    }
    
    #thedonation svg {
      $donation-size: floor($symbols-size / 1.23);
      width: $donation-size;
      height: $donation-size;
      left: floor((span(5) - $donation-size) / 2);
      top: floor(($symbols-size - $donation-size) / 2);
    }
    
    #action {
      @include column(8);
      @include prepend(2);
      @include append(4);
      
      a {
        display: block;
        width: span(8);
        @include unstyled-link;
        cursor: pointer;
        padding: 20px 0;
        margin-top: 15px;
        text-align: center;
        font-family: Arial; // 'Passion One', cursive;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 40px;
        line-height: 40px;
        @include border-radius(10px);

        color: lighten($action-color, 20%);
        background-color: darken($action-color, 40%);
        @include text-shadow(darken($action-color, 50%) 0px 3px 0px, black 0px 3px 8px);
        @include box-shadow(darken($action-color, 45%) 0px 20px 30px, darken($action-color, 60%) 0px 15px 0, darken($action-color, 35%) 0px 0px 0px 2px inset);
        &:hover {
          color: lighten($action-color, 30%);
          background-color: darken($action-color, 20%);
          @include text-shadow(rgba(lighten($action-color, 40%), 0.8) 0px 0px 5px, darken($action-color, 50%) 0px 3px 0px, black 0px 3px 8px);
          @include box-shadow(darken($action-color, 35%) 0px 20px 30px, darken($action-color, 50%) 0px 15px 0, darken($action-color, 15%) 0px 0px 0px 2px inset);
        }
        &:active {
          position: relative;
          top: 5px;
          @include box-shadow(darken($action-color, 45%) 0px 15px 30px, darken($action-color, 60%) 0px 10px 0, darken($action-color, 35%) 0px 0px 0px 2px inset);
        }
      }
      
    }
    
    #counterbox {
      @include column(8, true);
      margin-top: 10px;
      text-align: center;
      background-color: darken($background-color, 1%);
      @include border-radius(10px);

      h5 {
        color: text-color;
        font-family: 'Passion One', cursive;
        font-size: 40px;
        span {
          font-size: 100px;
        }
      }
      p {
        margin-top: -10px;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 30px;
        color: darken($background-color, 35%);
      }
    }
    
    #counterbox.loading {
      h5 {
        color: lighten($text-color, 70%);
      }
    } 
  }
  
  #social {
    @include column(24);

    .fb-comments {
      @include column(16);
    }
    
    .twtr-widget {
      @include column(8, true);
    }
  }
  
  #faq {
    @include column(24);
        
    div {
      @include column(8);
      
      text-align: justify;
      
      h3 {
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 22px;
        color: $text-color;
      }
      
      p {
        font-family: arial;
        font-size: 14px;
        line-height: 18px;
        color: lighten($text-color, 10%);
      }
    }
    
    #justdonate {
      @include last;
    }
  }
  
  .sectionhead {
    @include column(24);
    margin-top: 40px;
    margin-bottom: 10px;
    a {
      @include float-right;
      @include unstyled-link; 
      text-transform: uppercase;
      color: lighten($text-color, 40%);
      font-size: 10px;
      &:before {
        content: "^";
        margin-right: 5px;
      }     
    }
  }

}

