/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 19, ../sass/screen.scss */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  overflow: auto;
  position: relative;
  min-height: 100%;
  background: #e4e4e4;
  background: url('/images/bg_fightsopa.gif?1324790125');
}
/* line 28, ../sass/screen.scss */
body #share {
  position: fixed;
  top: 5px;
  left: 5px;
}
/* line 32, ../sass/screen.scss */
body #share div, body #share iframe, body #share .twitter-share-button, body #share .g-plusone, body #share .fb-sopa, body #share .fb-facepile {
  display: block;
  margin-bottom: 10px;
  z-index: -5;
}
/* line 39, ../sass/screen.scss */
body #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  background: url('/images/bg_fightsopa.gif?1324790125');
}
/* line 45, ../sass/screen.scss */
body #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #footer {
  overflow-x: hidden;
}
/* line 49, ../sass/screen.scss */
body #header {
  position: fixed;
  z-index: 999;
  background: url('/images/bg_fightsopa.gif?1324790125');
  width: 950px;
  height: 30px;
  border-bottom: 2px solid #9b9b9b;
}
/* line 57, ../sass/screen.scss */
body #header ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: right;
}
/* line 60, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body #header ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body #header ul li:first-child, body #header ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body #header ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body #header ul li.last {
  padding-right: 0;
}
/* line 60, ../sass/screen.scss */
body #header ul li {
  line-height: 30px;
}
/* line 62, ../sass/screen.scss */
body #header ul li a {
  font-family: 'PT Sans Narrow', sans-serif;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #818181;
  margin-left: 30px;
  cursor: pointer;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
body #header ul li a:active, body #header ul li a:focus {
  outline: none;
}
/* line 69, ../sass/screen.scss */
body #header ul li a:hover {
  color: #1b1b1b;
}
/* line 77, ../sass/screen.scss */
body #footer {
  border-top: 2px solid #1b1b1b;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-top: 10px;
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: justify;
  font-size: 18px;
  color: #4e4e4e;
}
/* line 88, ../sass/screen.scss */
body #content {
  margin-top: 35px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content {
  overflow-x: hidden;
}
/* line 92, ../sass/screen.scss */
body #content h4 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: justify;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 10px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content h4 {
  overflow-x: hidden;
}
/* line 101, ../sass/screen.scss */
body #content h3 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  font-family: 'Passion One', cursive;
  text-align: justify;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 10px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content h3 {
  overflow-x: hidden;
}
/* line 110, ../sass/screen.scss */
body #content h2 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: justify;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content h2 {
  overflow-x: hidden;
}
/* line 117, ../sass/screen.scss */
body #content h2 strong {
  font-size: 50px;
  line-height: 50px;
  color: #f1584e;
}
/* line 124, ../sass/screen.scss */
body #content #thebrain, body #content #thepc {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content #thebrain, * html body #content #thepc {
  overflow-x: hidden;
}
/* line 128, ../sass/screen.scss */
body #content #thedonation {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content #thedonation {
  overflow-x: hidden;
}
/* line 132, ../sass/screen.scss */
body #content #thefight {
  display: inline;
  float: left;
  margin-right: 0;
  width: 190px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content #thefight {
  overflow-x: hidden;
}
/* line 136, ../sass/screen.scss */
body #content .plus {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 30px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content .plus {
  overflow-x: hidden;
}
/* line 140, ../sass/screen.scss */
body #content .equal {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content .equal {
  overflow-x: hidden;
}
/* line 146, ../sass/screen.scss */
body #content .plus, body #content .equal {
  font-family: Arial;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  line-height: 100px;
  color: #4e4e4e;
}
/* line 155, ../sass/screen.scss */
body #content .actionbox {
  height: 100px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 158, ../sass/screen.scss */
body #content .actionbox:hover {
  -moz-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  -o-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}
/* line 163, ../sass/screen.scss */
body #content .actionbox svg {
  width: 100px;
  height: 100px;
  position: relative;
  left: 45px;
}
/* line 170, ../sass/screen.scss */
body #content #thedonation svg {
  width: 81px;
  height: 81px;
  left: 54px;
  top: 9px;
}
/* line 178, ../sass/screen.scss */
body #content #action {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  padding-left: 80px;
  padding-right: 160px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content #action {
  overflow-x: hidden;
}
/* line 183, ../sass/screen.scss */
body #content #action a {
  display: block;
  width: 310px;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  cursor: pointer;
  padding: 20px 0;
  margin-top: 15px;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  color: #f8b1ad;
  background-color: #6b0e08;
  text-shadow: #3b0805 0px 3px 0px, black 0px 3px 8px;
  -moz-box-shadow: #530b07 0px 20px 30px, #0c0201 0px 15px 0, #82120a 0px 0px 0px 2px inset;
  -webkit-box-shadow: #530b07 0px 20px 30px, #0c0201 0px 15px 0, #82120a 0px 0px 0px 2px inset;
  -o-box-shadow: #530b07 0px 20px 30px, #0c0201 0px 15px 0, #82120a 0px 0px 0px 2px inset;
  box-shadow: #530b07 0px 20px 30px, #0c0201 0px 15px 0, #82120a 0px 0px 0px 2px inset;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
body #content #action a:active, body #content #action a:focus {
  outline: none;
}
/* line 202, ../sass/screen.scss */
body #content #action a:hover {
  color: #fcdedc;
  background-color: #c91b10;
  text-shadow: rgba(255, 255, 255, 0.8) 0px 0px 5px, #3b0805 0px 3px 0px, black 0px 3px 8px;
  -moz-box-shadow: #82120a 0px 20px 30px, #3b0805 0px 15px 0, #e11e12 0px 0px 0px 2px inset;
  -webkit-box-shadow: #82120a 0px 20px 30px, #3b0805 0px 15px 0, #e11e12 0px 0px 0px 2px inset;
  -o-box-shadow: #82120a 0px 20px 30px, #3b0805 0px 15px 0, #e11e12 0px 0px 0px 2px inset;
  box-shadow: #82120a 0px 20px 30px, #3b0805 0px 15px 0, #e11e12 0px 0px 0px 2px inset;
}
/* line 208, ../sass/screen.scss */
body #content #action a:active {
  position: relative;
  top: 5px;
  -moz-box-shadow: #530b07 0px 15px 30px, #0c0201 0px 10px 0, #82120a 0px 0px 0px 2px inset;
  -webkit-box-shadow: #530b07 0px 15px 30px, #0c0201 0px 10px 0, #82120a 0px 0px 0px 2px inset;
  -o-box-shadow: #530b07 0px 15px 30px, #0c0201 0px 10px 0, #82120a 0px 0px 0px 2px inset;
  box-shadow: #530b07 0px 15px 30px, #0c0201 0px 10px 0, #82120a 0px 0px 0px 2px inset;
}
/* line 217, ../sass/screen.scss */
body #content #counterbox {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  margin-top: 10px;
  text-align: center;
  background-color: #e1e1e1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content #counterbox {
  overflow-x: hidden;
}
/* line 224, ../sass/screen.scss */
body #content #counterbox h5 {
  color: text-color;
  font-family: 'Passion One', cursive;
  font-size: 40px;
}
/* line 228, ../sass/screen.scss */
body #content #counterbox h5 span {
  font-size: 100px;
}
/* line 232, ../sass/screen.scss */
body #content #counterbox p {
  margin-top: -10px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 30px;
  color: #8b8b8b;
}
/* line 241, ../sass/screen.scss */
body #content #counterbox.loading h5 {
  color: #cecece;
}
/* line 247, ../sass/screen.scss */
body #social {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #social {
  overflow-x: hidden;
}
/* line 250, ../sass/screen.scss */
body #social .fb-comments {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #social .fb-comments {
  overflow-x: hidden;
}
/* line 254, ../sass/screen.scss */
body #social .twtr-widget {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #social .twtr-widget {
  overflow-x: hidden;
}
/* line 259, ../sass/screen.scss */
body #faq {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #faq {
  overflow-x: hidden;
}
/* line 262, ../sass/screen.scss */
body #faq div {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  text-align: justify;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #faq div {
  overflow-x: hidden;
}
/* line 267, ../sass/screen.scss */
body #faq div h3 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 22px;
  color: #1b1b1b;
}
/* line 273, ../sass/screen.scss */
body #faq div p {
  font-family: arial;
  font-size: 14px;
  line-height: 18px;
  color: #353535;
}
/* line 281, ../sass/screen.scss */
body #faq #justdonate {
  margin-right: 0;
}
/* line 286, ../sass/screen.scss */
body .sectionhead {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-top: 40px;
  margin-bottom: 10px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body .sectionhead {
  overflow-x: hidden;
}
/* line 290, ../sass/screen.scss */
body .sectionhead a {
  display: inline;
  float: right;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  text-transform: uppercase;
  color: #818181;
  font-size: 10px;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p180@fightsopa/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
body .sectionhead a:active, body .sectionhead a:focus {
  outline: none;
}
/* line 296, ../sass/screen.scss */
body .sectionhead a:before {
  content: "^";
  margin-right: 5px;
}
